.backGround{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-top: 20px;
}

.cardForm{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
}

.cardField{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  label{
    font-size: 1.3em;
    font-weight: bold;
  }
  input, textarea{
    font-size: 1.2em;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 8px;
    resize: none;
  }
}

.cardFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn{
  border-style: solid;
  border-width: 2px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.3em;
  gap: 2px;
}

.btnBack{
  border-color: rgb(255, 136, 0);
  color: rgb(255, 136, 0);
  background-color: rgba(255, 136, 0, 0.35);
}

.btnSave{
  border-color: green;
  color: green;
  background-color: rgba(0, 128, 0, 0.35);
}