.alert{
  max-width: 450px;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  position: relative;
}

.alertTitle{
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  padding-bottom: 5px;
}

.alertMessage{
  font-size: 1.3em;
}

.alertFooter{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  padding-top: 10px;
}

.alertButton{
  font-size: 0.85em;
  background-color: rgba(0, 255, 255, 0.24);
  padding: 5px 10px;
  vertical-align: middle;
  text-align: center;
}