.button{
  cursor: pointer;
  opacity: 1;
  transition: opacity 100ms, filter 50ms;
}

.button[data-disabled="true"]{
  opacity: 0.4;
  cursor: default;
}

.button[data-disabled="false"]:hover{
  filter: contrast(0.7);
}

.button[data-disabled="false"]:active{
  opacity: 0.2;
}