.backGround{
  width: 100%;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 10px;
  padding: 7px;
  display: flex;
  align-items: stretch;
}

.container{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  overflow: hidden;
  font-size: 1.5em;
  font-weight: 700;
  flex: 1;
}

.bottom{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}